<%admin_page @tabs do%>
	<%table_with_sort_links [["Дата", "created_at"], ["Имя", "name"], "Отзыв", ["Отмодерирован", "moderated"], "Ред.", "Уд."], {:del_url => "/#{params[:controller]}/delete/", :item_name => model_title[:one], :update_url => "/#{params[:controller]}/update/"} do%>
		<%for item in @items%>
			<%tr item do%>
			<td><%=standartDate item.created_at%></td>
			<td class="edit_string" field="name"><%=item.name%></td>
			<td class="edit_text" field="body"><%=item.body%></td>
			<td><%=moderate_link item%></td>
			<td><%=btn_edit item%></td>
			<td><%=btn_del%></td>
			<%end%>
		<%end%>
	<%end%>
	<%=will_paginate @items%>
<%end%>
