
<% admin_page [["Список заказов", "/admin_orders/list"], ["Настройка уведомлений", "/admin_orders/notify"]] do %>
<%form_tag "/admin_options/list" do%>
	<input type="hidden" name="back" value="/admin_orders/notify">
	<table>
	<%for option in OptionCategory.find_by_name('Уведомления о заказах').options%>
	<tr>
		<td><%=option.title%>:</td>
		<td>
			<% if option.t == "text_field" %>
			<input name="option[<%=option.name%>]" style="width: 300px;" value="<%=h(Option.getOption(option.name))%>">
			<% end %>
			<% if option.t == "text_area" %>
			<textarea name="option[<%=option.name%>]"><%=h(Option.getOption(option.name))%></textarea> 
			<% end %>
			<% if option.t == "check_box" %>
			<input type="hidden" name="option[<%=option.name%>]" value="0"/>
			<%=check_box_tag "option[#{option.name}]", 1, (Option.getOption(option.name).to_i==1)%>
			<% end %>		
		</td>
	</tr>
	<%end%>
	</table>
	<%=submit_tag "Изменить"%>
<%end%>
<%end%>
